#page-landing {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background: var(--linear-gradient-blue-primary);
}

#page-landing .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  max-width: 120rem;

  padding: 4rem;
}

#page-landing .content-wrapper header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper header img {
  width: 22rem;
}

#page-landing .content-wrapper header .location {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;

  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

#page-landing .content-wrapper header .location strong {
  font-weight: 800;
}

#page-landing .content-wrapper .image-landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-landing .content-wrapper .image-landing-container img {
  width: 32rem;
  max-width: 90%;

  margin-top: 4.2rem;
  margin-bottom: 4.2rem;
}

#page-landing .content-wrapper main {
  padding-right: 8rem;
}

#page-landing .content-wrapper main h1 {
  font-size: 4.75rem;
  font-weight: 900;
  line-height: 5.5rem;
}

#page-landing .content-wrapper main p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
}

#page-landing .content-wrapper .enter-app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 6rem;
}

#page-landing .content-wrapper .enter-app {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;

  background-color: var(--color-button-enter);
  border-radius: 2rem;

  transition: background-color 0.2s linear;
}

#page-landing .content-wrapper .enter-app:hover {
  background-color: var(--color-button-enter-hover);
}

@media(min-width: 600px) {
  #page-landing .content-wrapper header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #page-landing .content-wrapper .image-landing-container img {
    width: 60%;
    max-width: 40rem;
  }

  #page-landing .content-wrapper header .location {
    display: flex;
    flex-direction: column;
    
    margin-top: 0;
    margin-left: 4rem;
    
    font-size: 2rem;
    line-height: 3.4rem;
    text-align: left;
  }

  #page-landing .content-wrapper main h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  
  #page-landing .content-wrapper main p {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  #page-landing .content-wrapper .enter-app {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media(min-width: 1100px) {
  #page-landing .content-wrapper {
    display: grid;
    grid-template-rows: 12rem 1fr 12rem;
    grid-template-columns: repeat(4, 1fr);

    max-height: 70rem;

    padding: 6rem;
  }

  #page-landing .content-wrapper header {    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: start;
  }

  #page-landing .content-wrapper header .location strong {
    font-weight: 800;
  }

  #page-landing .content-wrapper .image-landing-container {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;

    margin-top: 0;
    margin-bottom: 0;
  }

  #page-landing .content-wrapper .image-landing-container img {
    width: 36rem;
    
    margin-top: -10rem;
    margin-left: -10rem;
    margin-bottom: 0;
  }

  #page-landing .content-wrapper main {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    align-self: end;
  }
  
  #page-landing .content-wrapper main h1 {
    font-size: 5.5rem;
  }

  #page-landing .content-wrapper .enter-app-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    align-self: end;
  }
}
