#page-create-orphanage {
  display: flex;

  min-height: 100vh;
  width: 100vw;
}

#page-create-orphanage main {
  flex: 1;
  margin-left: 9rem;
}

#page-create-orphanage main > h1 {
  min-width: 20rem;
  max-width: 70rem;

  margin: 0 auto;
  margin-top: 3rem;
  padding: 0 6rem;

  color: var(--color-text-label);
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
  text-align: center;
}

#page-create-orphanage form.create-orphanage-form {  
  min-width: 20rem;
  max-width: 70rem;
  width: 100%;

  margin: 2rem auto;
  margin-top: 3rem;
  padding: 3rem;

  background-color: var(--color-text-default);
  border: 1px solid var(--color-border-gray);
  border-radius: 2rem;

  overflow: hidden;
}

#page-create-orphanage form.create-orphanage-form .leaflet-container {
  margin-bottom: 4rem;

  height: 20rem;

  border: 1px solid var(--color-border-gray);
  border-radius: 2rem;
}

#page-create-orphanage form.create-orphanage-form fieldset {
  border: 0;
}

#page-create-orphanage form.create-orphanage-form fieldset + fieldset {
  margin-top: 8rem;
}

#page-create-orphanage form.create-orphanage-form fieldset legend {
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;

  width: 100%;

  font-size: 3.2rem;
  line-height: 3.4rem;
  color: var(--color-text-complement);
  font-weight: 700;
  border-bottom: 1px solid var(--color-border-gray);
}

#page-create-orphanage form.create-orphanage-form .input-block + .input-block,
#page-create-orphanage form.create-orphanage-form .input-block + .textarea-block,
#page-create-orphanage form.create-orphanage-form .textarea-block + .input-block,
#page-create-orphanage form.create-orphanage-form .textarea-block + .input-container,
#page-create-orphanage form.create-orphanage-form .input-block + .input-container {
  margin-top: 2.4rem;
}

#page-create-orphanage form.create-orphanage-form .input-container label {
  display: flex;

  margin-bottom: 0.8rem;

  color: var(--color-text-label);
  line-height: 2.4rem;
}

#page-create-orphanage form.create-orphanage-form .input-container label span {
  margin-left: 2.4rem;

  font-size: 1.4rem;
  color: var(--color-text-label);
  line-height: 2.4rem;
}

#page-create-orphanage form.create-orphanage-form .input-container input,
#page-create-orphanage form.create-orphanage-form .input-container textarea {
  width: 100%;

  background-color: var(--color-background-input);
  border: 1px solid var(--color-border-gray);
  border-radius: 2rem;
  outline: none;
  color: var(--color-text-complement);
}

#page-create-orphanage form.create-orphanage-form .input-container input {
  height: 6.4rem;
  padding: 0 1.6rem;
}

#page-create-orphanage form.create-orphanage-form .input-container input[type=file] {
  height: 0;
  opacity: 0;
}

#page-create-orphanage form.create-orphanage-form .input-container textarea {
  padding: 1.6rem;
  min-height: 12rem;
  max-height: 24rem;
  resize: vertical;

  line-height: 2.8rem;
}
#page-create-orphanage form.create-orphanage-form .input-container .error {
  color: var(--color-text-error);
}

#page-create-orphanage form.create-orphanage-form .input-container .images-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(8.5rem, 13rem));
  grid-gap: 1.6rem;
}

#page-create-orphanage form.create-orphanage-form .input-container .images-container .image-container {
  position: relative;
  height: 9.6rem;
}

#page-create-orphanage form.create-orphanage-form .input-container .images-container .image-container button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 4rem;

  position: absolute;
  top: 0;
  right: 0;

  border: 1px solid var(--color-border-gray);
  box-sizing: border-box;
  border-radius: 0 2rem;

  cursor: pointer;
}

#page-create-orphanage form.create-orphanage-form .input-container .images-container .image-container img {
  height: 9.6rem;
  width: 100%;

  border-radius: 2rem;
}

#page-create-orphanage form.create-orphanage-form .input-container .new-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 9.6rem;

  background-color: var(--color-background-input);
  border: 1px dashed var(--color-border-dashed);
  border-radius: 2rem;
  cursor: pointer;
}

#page-create-orphanage form.create-orphanage-form .opening-hours-block {
  display: flex;
  flex-direction: column;

  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

#page-create-orphanage form.create-orphanage-form .opening-hours-block .input-block {
  width: 22rem;
}

#page-create-orphanage form.create-orphanage-form .input-container .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#page-create-orphanage form.create-orphanage-form .input-container .button-select button {
  height: 6.4rem;

  background-color: var(--color-background-input);
  border: 1px solid var(--color-border-gray);
  color: var(--color-text-complement);
  cursor: pointer;
}

#page-create-orphanage form.create-orphanage-form .input-container .button-select button.active {
  background-color: var(--color-background-button-active);
  border: 1px solid var(--color-border-active);
  color: var(--color-text-active);
}

#page-create-orphanage form.create-orphanage-form .input-container .button-select button:first-child {
  border-radius: 2rem 0 0 2rem;
}

#page-create-orphanage form.create-orphanage-form .input-container .button-select button:last-child {
  border-radius: 0 2rem 2rem 0;
  border-left: 0;
}

#page-create-orphanage form.create-orphanage-form button.confirm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 6.4rem;

  margin-top: 6.4rem;

  border: 0;
  background-color: var(--color-secondary);
  opacity: 0.7;
  border-radius: 2rem;
  color: var(--color-text-default);
  font-weight: 800;
}

#page-create-orphanage form.create-orphanage-form button.confirm-button:enabled {
  cursor: pointer;
  background-color: var(--color-secondary);
  opacity: 1;
  transition: background-color 0.2s;
}

#page-create-orphanage form.create-orphanage-form button.confirm-button:enabled:hover {
  background-color: var(--color-secondary-hover);
}

#page-create-orphanage form.create-orphanage-form button.confirm-button svg {
  margin-right: 1.6rem;
}

@media(min-width: 600px) {
  #page-create-orphanage main {
    flex: 1;
    margin-left: calc(10rem + 3%);
    margin-right: 3%;
  }
  
  #page-create-orphanage form.create-orphanage-form {
    padding: 5rem;
  }
  
  #page-create-orphanage form.create-orphanage-form .leaflet-container {
    margin-bottom: 4rem;

    height: 32rem;

    border: 1px solid var(--color-border-gray);
    border-radius: 2rem;
  }

  #page-create-orphanage form.create-orphanage-form .input-container .images-container {
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
  }
}

@media(min-width: 1100px) {
  #page-create-orphanage form.create-orphanage-form {
    margin: 3rem auto;
    margin-bottom: 5rem;
  }

  #page-create-orphanage form.create-orphanage-form .input-container .images-container {
    grid-template-columns: repeat(5, 1fr);
  }

  #page-create-orphanage form.create-orphanage-form .opening-hours-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  #page-create-orphanage form.create-orphanage-form .opening-hours-block .input-block {
    margin-top: 0;
    width: 22rem;
  }
}